/**************/
/* ToC Rule */
/**************/

#toc {
    padding-left: 0;
    list-style: none;
    background: #fafafa;
    padding: 10px 20px 5px 20px;
    width: 90%!important;
    margin: 0 auto ;
    box-sizing: border-box;

    li {
      padding: 8px 0;
      font-size: 14px;
      list-style-type: none;
      border-top: 1px solid #e6e6e6;

      a {
        color: #787c7b;
        text-decoration: none!important;

        &:hover {
          color: #222;
          text-decoration: none;
        }
      }

      ul {
        padding-top: 8px;
      }
    }
}
